In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv('conjunto_de_datos_tmodulo_enut_2019.csv',encoding='latin-1')
df_nuevo = df[['EDAD_V','NIV','GRA','P5_1','P5_3_1','P5_3_2','P5_3_3','P5_3_4']]

In [3]:
df_nuevo

       EDAD_V  NIV  GRA  P5_1  P5_3_1  P5_3_2  P5_3_3  P5_3_4
0          88    2    3     2     NaN     NaN     NaN     NaN
1          64    2    6     2     NaN     NaN     NaN     NaN
2          30    6    3     1    40.0     0.0    20.0     0.0
3          25    3    3     1    55.0     0.0     0.0     0.0
4          22    8    2     1    22.0     0.0    18.0     0.0
...       ...  ...  ...   ...     ...     ...     ...     ...
71399      54    2    6     2     NaN     NaN     NaN     NaN
71400      31    8    4     1    60.0     0.0    24.0     0.0
71401      23    6    3     1    40.0     0.0     8.0     0.0
71402      27    6    1     1    30.0     0.0     5.0     0.0
71403      29    6    3     1    15.0     0.0     0.0     0.0

[71404 rows x 8 columns]

In [5]:
df_nuevo['P5_3_1'] = df_nuevo['P5_3_1'].replace({np.nan: '0'})
df_nuevo['P5_3_2'] = df_nuevo['P5_3_2'].replace({np.nan: '0'})
df_nuevo['P5_3_3'] = df_nuevo['P5_3_3'].replace({np.nan: '0'})
df_nuevo['P5_3_4'] = df_nuevo['P5_3_4'].replace({np.nan: '0'})
df_nuevo['P5_3_1'] = df_nuevo['P5_3_1'].astype(int)
df_nuevo['P5_3_2'] = df_nuevo['P5_3_2'].astype(int)
df_nuevo['P5_3_3'] = df_nuevo['P5_3_3'].astype(int)
df_nuevo['P5_3_4'] = df_nuevo['P5_3_4'].astype(int)
df_horas_1 = df_nuevo.loc[df_nuevo['P5_3_2'] > 0]
df_horas_2 = df_nuevo.loc[df_nuevo['P5_3_4'] > 0]
df_horas_1

C:\Users\PC EAGLE\AppData\Local\Temp\ipykernel_27360\1455468684.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_nuevo['P5_3_1'] = df_nuevo['P5_3_1'].replace({np.nan: '0'})
C:\Users\PC EAGLE\AppData\Local\Temp\ipykernel_27360\1455468684.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_nuevo['P5_3_2'] = df_nuevo['P5_3_2'].replace({np.nan: '0'})
C:\Users\PC EAGLE\AppData\Local\Temp\ipykernel_27360\1455468684.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_nuevo['P5_3_3'] = df_nuevo['P5_3_3'].replace({np.nan: '0'})
C:\Users\PC EAGLE\AppData\Local\Temp\ipykernel_27360\1455468684.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_nuevo['P5_3_4'] = df_nuevo['P5_3_4'].replace({np.nan: '0'})
C:\Users\PC EAGLE\AppData\Local\Temp\ipykernel_27360\1455468684.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_nuevo['P5_3_1'] = df_nuevo['P5_3_1'].astype(int)
C:\Users\PC EAGLE\AppData\Local\Temp\ipykernel_27360\1455468684.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_nuevo['P5_3_2'] = df_nuevo['P5_3_2'].astype(int)
C:\Users\PC EAGLE\AppData\Local\Temp\ipykernel_27360\1455468684.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_nuevo['P5_3_3'] = df_nuevo['P5_3_3'].astype(int)
C:\Users\PC EAGLE\AppData\Local\Temp\ipykernel_27360\1455468684.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_nuevo['P5_3_4'] = df_nuevo['P5_3_4'].astype(int)

       EDAD_V  NIV  GRA  P5_1  P5_3_1  P5_3_2  P5_3_3  P5_3_4
55         34    8    4     1      47      30       0       0
252        44    7    3     1      37      30       8       0
270        47    4    2     1      27      30       6       0
322        23    8    4     1      42      30       8       0
447        36    3    3     2      42      30      15       0
...       ...  ...  ...   ...     ...     ...     ...     ...
70811      24    8    4     1      32      30       0       0
70938      43    3    3     1      32      30       6      30
70942      45    2    5     1      37      30      13      30
70997      43    3    3     1       7      30       1       0
71143      51    3    3     2       2      30       1       0

[915 rows x 8 columns]

In [6]:
df_horas_2

       EDAD_V  NIV  GRA  P5_1  P5_3_1  P5_3_2  P5_3_3  P5_3_4
81         18    6    1     1      40       0      12      30
165        22    8    5     1      45       0       4      30
567        53    6    3     1      45       0       9      30
569        15    6    1     1       1      30       1      30
640        20    3    3     1      37      30       7      30
...       ...  ...  ...   ...     ...     ...     ...     ...
70938      43    3    3     1      32      30       6      30
70942      45    2    5     1      37      30      13      30
70968      64    2    3     1      55       0       2      30
70971      39    3    3     1      35       0       6      30
71368      41    2    6     1      25       0       6      30

[468 rows x 8 columns]

In [7]:
df_nuevo['tot_horas'] = df_nuevo['P5_3_1'] + df_nuevo['P5_3_3']
df_nuevo['tot_minutos'] = df_nuevo['P5_3_2'] + df_nuevo['P5_3_4']
df_nuevo

C:\Users\PC EAGLE\AppData\Local\Temp\ipykernel_27360\1687118212.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_nuevo['tot_horas'] = df_nuevo['P5_3_1'] + df_nuevo['P5_3_3']
C:\Users\PC EAGLE\AppData\Local\Temp\ipykernel_27360\1687118212.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_nuevo['tot_minutos'] = df_nuevo['P5_3_2'] + df_nuevo['P5_3_4']

,EDAD_V,NIV,GRA,P5_1,P5_3_1,P5_3_2,P5_3_3,P5_3_4,tot_horas,tot_minutos
0,88,2,3,2,0,0,0,0,0,0
1,64,2,6,2,0,0,0,0,0,0
2,30,6,3,1,40,0,20,0,60,0
3,25,3,3,1,55,0,0,0,55,0
4,22,8,2,1,22,0,18,0,40,0
...,...,...,...,...,...,...,...,...,...,...
71399,54,2,6,2,0,0,0,0,0,0
71400,31,8,4,1,60,0,24,0,84,0
71401,23,6,3,1,40,0,8,0,48,0
71402,27,6,1,1,30,0,5,0,35,0
71403,29,6,3,1,15,0,0,0,15,0